<!DOCTYPE html>
<html>

<head>

<meta charset="UTF-8">
<title>Smart Waste Management</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<h1 class="title">Smart Waste Management System</h1>

<div class="auth-container">

<h2>Welcome</h2>

<a href="/login">
<button>Login</button>
</a>

<br><br>

<a href="/complaint">
<button>Register Complaint</button>
</a>

</div>

<footer class="footer">
<p>© 2025 Centurion University | Smart Waste Monitoring</p>
</footer>

</body>

</html>